.create-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-container input {
    min-width: 250px;
    width: 25%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: .25rem;
}