.create-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.time-limit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.time-limit-container > * {
    margin: 0;
}

.form-container input {
    min-width: 50px;
    width: 25%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: .25rem;
    flex: 1;
}

@media (max-width: 768px) {
    .form-container .time-limit-container {
        width: 90%;
    }
}