@media (prefers-color-scheme: light) {
    .lobby-container .game-card {
        background-color: #e8e8e8;
    }
}

.game-card {
    display: flex;
    flex-direction: row;
    padding: .5rem 2rem;
    margin-top: 1rem;
    background-color: #363636;
    border-radius: .5rem;
    width: 75%;
}

.game-card-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.game-card-details * {
    margin: 0;
}

.game-card-header {
    font-size: 1.1rem;
}

.game-card-players {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-card-rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.game-card-button {
    margin-top: 1.5rem;
}
