.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 300px;
    width: 30%;
    margin-top: 20px;
}

.username-input {
    margin: .5rem 0 .25rem;
    padding: 0.5rem 0;
    border: #c0c0c0 1px solid;
    border-radius: .5rem;
    width: 100%;
}

.username-input:focus {
    outline: none;
    border-color: #007bff;
}

.error, .error:focus {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}